<%- include('../partials/header') %>
<ul>
    <% skills.forEach(function(s){ %>
        <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.done ? 'Learned' : 'Needs Time' %>
        </li>
    <% }); %>
</ul>
<a href="/skills/new" id="add-new">Add New Skill</a>
<%- include('../partials/footer') %>